<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>New User Create</h1>
        <form action="/update/<%= userDAta._id %>" method="post">
            <input type="text" name="name" value="<%= userDAta.name %>" placeholder="Name">
            <input type="email" name="email" value="<%= userDAta.email %>" placeholder="Email">
            <input type="password" name="password" value="<%= userDAta.password %>" placeholder="Password">
            <button type="submit">Save</button>
        </form>
    </div>
</body>

</html>