<!-- home.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>User Management System</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <h2>User Management System</h2>
    <table>
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Age</th>
        </tr>
        <% data.forEach(element=> { %>
            <tr>
                <td>
                    <%= element.userUniqueId %>
                </td>
                <td>
                    <%= element.userName %>
                </td>
                <td>
                    <%= element.userEmail %>
                </td>
                <td>
                    <%= element.userAge %>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>