<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - InfoBeans</title>
</head>

<body>
    <form action="/update">
        <h1>Home Page</h1>
        <h2>Welcome to InfoBeans</h2>
        <button>submit</button>
    </form>
</body>

</html>