<html>

<head>
    <%-include("__bootstrap.ejs")%>
</head>

<body style="background-color:rgb(132, 207, 182);">
    <%- include("__header.ejs")%>
        <div class="container mt-4">
            <form action="/task/create-task" method="post">
                <div class="form-group">
                    <input style="background-color: transparent; color: rgb(0, 0, 0); box-shadow: 5px 5px 5px gray;"
                        name="title" type="text" placeholder="Enter task title" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea style="background-color: transparent; color: rgb(0, 0, 0); box-shadow: 5px 5px 5px gray;"
                        name="description" class="form-control" placeholder="Write task description"></textarea>
                </div>
                <div class="form-group">
                    <select style="background-color: transparent; color: rgb(0, 0, 0); box-shadow: 5px 5px 5px gray;"
                        class="form-control" name="priorityId">
                        <option style="color: black;" disabled selected>Select task priority</option>
                        <option style="color: black;" value="high">High</option>
                        <option style="color: black;" value="mid">Medium</option>
                        <option style="color: black;" value="low">Low</option>
                    </select>
                </div>
                <div class="form-group d-flex justify-content-center align-items-center w-100">
                    <button style="background-color: rgb(144, 196, 255); width: 40%; height:10%; border-radius: 5px;"
                        type="submit">Create</button>
                </div>
            </form>
        </div>
</body>

</html>