<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Update User</h1>
    <form action="/update/<%= user._id %>" method="post">
        <input type="text" name="name" value="<%= user.name %>" placeholder="UserName">
        <input type="email" name="email" value="<%= user.email %>" placeholder="Email">
        <input type="password" name="password" value="<%= user.password %>" placeholder="Password">
        <button type="submit">Send</button>
    </form>
</body>

</html>