<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Practice</title>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <form action="/create" method="post">
            <h1 class="text-3xl tracking-lighter mb-3">Create User</h1>
            <input class="px-5 py-2 border border-zinc-800 outline-none rounded-lg bg-transparent mb-3" type="text"
                name="name" placeholder="Name">
            <input class="px-5 py-2 border border-zinc-800 outline-none rounded-lg bg-transparent mb-3" type="email"
                name="email" placeholder="Email">
            <input class="px-5 py-2 border border-zinc-800 outline-none rounded-lg bg-transparent mb-3" type="url"
                name="url" placeholder="Image Url">
            <input class="px-5 py-2 bg-blue-500 rounded-lg cursor-pointer" type="submit" value="Create User">
        </form>
    </div>
</body>

</html>