<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/">Back To Home</a>
        </div>
        <h1 class="text-3xl tracking-lighter mb-3">All Users</h1>
        <div class="Users flex gap-3 flex-wrap ">
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500"></div>
                <h3 class="text-xl mt-3 tracking-lighter">Deepak Meena</h3>
                <h5 class="text-zinc-500">deepakmeenaa78@gmail.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="#edit-user">Edit User</a>
                    <a class="text-red-500" href="#delete-user">Delete User</a>
                </div>
            </div>
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500"></div>
                <h3 class="text-xl mt-3 tracking-lighter">Ankit Meena</h3>
                <h5 class="text-zinc-500">dm2000353@gmail.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="#edit-user">Edit User</a>
                    <a class="text-red-500" href="#delete-user">Delete User</a>
                </div>
            </div>
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500"></div>
                <h3 class="text-xl mt-3 tracking-lighter">Vipin</h3>
                <h5 class="text-zinc-500">vipin@gmail.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="#edit-user">Edit User</a>
                    <a class="text-red-500" href="#delete-user">Delete User</a>
                </div>
            </div>
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500"></div>
                <h3 class="text-xl mt-3 tracking-lighter">Ajeet</h3>
                <h5 class="text-zinc-500">ajeet@gmail.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="#edit-user">Edit User</a>
                    <a class="text-red-500" href="#delete-user">Delete User</a>
                </div>
            </div>
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500"></div>
                <h3 class="text-xl mt-3 tracking-lighter">Ajeet</h3>
                <h5 class="text-zinc-500">ajeet@gmail.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="#edit-user">Edit User</a>
                    <a class="text-red-500" href="#delete-user">Delete User</a>
                </div>
            </div>
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500"></div>
                <h3 class="text-xl mt-3 tracking-lighter">Ajeet</h3>
                <h5 class="text-zinc-500">ajeet@gmail.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="#edit-user">Edit User</a>
                    <a class="text-red-500" href="#delete-user">Delete User</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>