<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
  <div id="myimage">
    <h1 class="text-success">It is about Page</h1>
    <img src="/image/IMG_20240301_114419.jpg" />
  </div>
</body>

</html>