<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("__bootstrap_lib.ejs") %>
</head>
<body>
  <h1 class="text-danger">It is Home Page</h1>
  <img src="public/image/IMG_20240301_114419.jpg"/>
</body>
</html>